*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --black: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background: var(--background);
  color: var(--black);
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 1.6rem; /* = 16px */
}

.l-wrap {
  width: 1200px;
  margin-inline: auto;
}

ul {
  list-style: none;
}

.u-red {
  color: #ff0000;
}

.u-bold {
  font-weight: 700;
}

.c-txt {
  display: inline-block;
  letter-spacing: 0.05em;
}

.c-txt + .c-txt {
  margin-top: 0.5em;
}

* .c-numericList,
* .c-list {
  margin-top: 2rem;
}

.c-list,
.c-numericList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-numericList {
  counter-reset: item-counter;
}

.c-list .c-listItem,
.c-numericList .c-listItem {
  position: relative;
  display: flex;
  margin-top: 0.5em;
  gap: 10px;
}

.c-numericList .c-listItem {
  counter-increment: item-counter;
}

.c-numericList .c-listItem::before {
  content: counter(item-counter);
}

.c-list .c-listItem::before {
  content: "・";
}
